@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #f4f4f4;
  --background-end-rgb:#f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000;
  background:#f4f4f4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

pre {
  word-wrap: normal;
  font-family: monospace;
  border-radius: 0 !important;
  overflow-x: auto;

}
